/* Image comparison */
.image-comparison-link {
    color: #A32214;
    font-weight: bold;
}
.image-comparison {
    min-width: 300px;
}
.image-comparison h5 {
    font-size: 1em;
    margin: 10px 0px 5px 0px;
}
.image-comparison img {
    margin-bottom: 20px;
}

/* Notifications */

.notification {
    position: fixed;
    display: none;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: white;
    font-size: 0.8em;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
}
.notification-wrapper {
    position: relative;
    padding-top: 10px;
}
.notification .notification-close-link {
    display: inline-block;
    position: absolute;
    right: -5px;
    top: -5px;
    color: #777;
    font-weight: normal;
    text-decoration: none;
}
.notification .notification-summary {
    font-weight: bold;
}

/* Popup */
#screen-shadow {
    display: none;
    background: black;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    display: none;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;
}

.popup .popup-wrapper {
    padding: 30px 10px 10px 10px;
    position: relative;
}

.popup .popup-close-link {
    position: absolute;
    top: 6px;
    right : 50%;
    color: #777;
    font-size: 0.8em;
    text-decoration: none;
}

.screenshot-canvas {
    position: relative;
    padding: 0;
    margin: 0;
}
.screenshot-canvas .canvas-rect {
    position: absolute;
    border-radius: 3px;
    border:3px solid;
    opacity: 0.6;
}
.screenshot-canvas div.canvas-rect:hover {
    opacity: 1.0;
}
.screenshot-canvas .canvas-rect .canvas-rect-wrapper {
    position: relative;
}
.screenshot-canvas .canvas-rect .canvas-rect-hint {
    position: absolute;
    font-size: 0.8em;
    top: -18px;
    left: 0px;
    white-space: nowrap;
    padding: 2px;
    color: #fff;
    font-weight: bold;
}


