body{
    margin: 20px; padding: 10px 5px 5px 5px ; }
h1 {
    font-size: 25px;
}

.small{
    font-family:verdana;    font-size:8px;
}
.big{
    font-family:verdana;    font-size:12px;
}
.tsetDetails.heading p{
    color:black;    font-family:verdana;    font-size:18px; }

.tsetDetails.heading table{ 			
    border: 1px  solid #8B8B8B;  border-spacing: 2px; 
    width: 60%; height:80px;  } 

.tsetDetails.heading td ,th {
    border: 0px  solid #8B8B8B; height:50px; padding: 5px 5px 5px 5px ;  
    margin: 4px;
    width: 150px;
}

th.ng-binding.ng-scope {}
.tesetDetails.heading table thead tr{
    background: #e8e8e8;   
}
.tsetDetails.heading.endTime,.tsetDetails.heading.startTime{
    font-size: 11px;
}
.tsetDetails.heading.nopassTests{
    color:green;
}
.tsetDetails.heading.nofailTests{
    color:red;
}
.tsetDetails.heading.nofailTests{
    color:red;
}
.grp{
    border: 2px  solid #8B8B8B;  border-spacing: 2px; 
    height:80px;  
}
.grp.head{
    background: #e8e8e8;
}.grp.head.browsers{
    background: #e8e8e8;
}
thead{
    background: #e8e8e8;
    font-size: 12px;
}
.tsetDetails.heading.PASS,Pass{
    color:green;
}
.tsetDetails.heading.FAIL,Fail{
    color:red;
}
.exe.heading p{
    color:black; font-family:verdana; font-size:18px; }

.exe.heading table    { 			
    border: 0px;  width: 100%; font-size: 12px ;	 } 

.exe.heading select {
    width:50%;	 right: 0px;	 }	 

.exe table { 	
    border-spacing: 2px;  
    border: 1px  solid #8B8B8B; 
    width: 100%;  font-size: 14px ;	 } 

.dataTables_scrollHeadInner table{
    margin-left: 26px; 
}
.exe.table tbody tr td { 	
    text-align: left;
    font-size: 14px;
} 
.exe.table thead  { 			
    border-spacing: 1px;  font-size: 14px ;
    background: #e8e8e8;   ;
}
.exe.table.col.stepno{
    text-align:  center;
    width: 12%;
}
.exe.table.col.exeTime{
    text-align:  center;
    width: 15%;
}
.exe.table.col.bv{  
    width: 10%;
    min-width: 120px;
    text-align:  center;
}
.exe.table.col.platf{   
    width: 10%;
    min-width: 110px;
    text-align:  center;
}
.exe.table.col.iter{   
    width: 10%;
    min-width: 110px;
    text-align:  center;
}
.exe.table td {
    padding-left: 20px;   
}
.exe.table.wrapper{
    overflow-x: auto;
    overflow-y: hidden;
}
.exe.table thead tr th{
    /* min-width: 100px; */
    max-height: 25px;
}
.exe.table.iteration{
    background:#69b5bd;
    color: black;
    height:10px;   
}
.exe.table.reusable{
    background: #c9e2b3;   
    height:10px;   
    font-size: medium;
}
.exe.table.step.oddx,.exe.table.step.oddx td{
    background:white; 
}
.exe.table.step.evenx,.exe.table.step.evenx td,.exe.table.step.evenx td a,.exe.table.step.evenx td p{
    background:#e8e8e8; 
}
.exe.table th {
    height: 12px;  
    font-size: 12px ; 
    text-align: center;   
    border: 0px solid #8B8B8B;
}
tr{
    max-height: 15px;
}
.exe.table td { 
    max-height: 10px;  
    text-align: left; 
}
.exe.table.PASS,.exe.table.PASSED,.exe.table.DONE,.exe.table.FAIL,.exe.table.FAILED,.exe.table.DEBUG,.exe.table.WARNING{
    max-width: 100px;
    font-size: 12px;
    text-align: center;   
    background: inherit;
}
.exe.table.res{
    text-align: center;   
}
.exe.table.PASS,.exe.table.PASSED {
    color:green;  
}
.exe.table.DONE,.exe.table.DEBUG,.exe.table.WARNING{
    color:black;
}

.exe.table.FAIL,.exe.table.FAILED {     
    color:red;  
}
.exe.table.time{
    text-align: center;   
    color:black;  
    font-size: 11px;
}
.exe.table.res{
    text-align: center;
    font-size: 11px;
    max-height: 20px;
    width: 15%;
    min-width:90px;
    max-width:120px;
}
.exe.table.ng-scope.odd,.exe.table.ng-scope.odd td{
    background:white; 
}
.exe.table.ng-scope.even,.exe.table.ng-scope.even td,.exe.table.ng-scope.even td a,.exe.table.ng-scope.even td p{
    background:#e8e8e8; 
}
.GRPTabDiv{
    width: 98%;
    overflow-x:scroll;  
}

.tsetDetails.footer table  
{ 			
    border: 0px; width: 98%;  }

.tsetDetails.footer.PASS {
    color:green;  }

.tsetDetails.footer.FAIL {     
    color:red;  }
small { 
    font-size:smaller;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}
.scrollToTop{    
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background: #69b5bd  no-repeat center 50%;
}
.vulog{    
    display: block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 60px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    background: #69b5bd  no-repeat center 50%;
    background-image:url("../../media/images/log.png");
}
.vulog.perfReport{       
    background-image:url("../../media/images/poll.svg");
}
.dataTables_filter{
    position: relative;
}
.dataTables_wrapper.dataTables_filter{
    float:right;
    position: relative;
}
thead input{
    color:black;
}
.form-control{
    font-size:12px;
    padding: 0px 0px;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #8B8B8B;
}