.tsetDetails.heading thread ,th {
    color: whitesmoke;  //Test Details table header font
}
.tsetDetails.heading tbody {
    background: #EDDDB8;      //Test Details table rows
}
.grp.head{
     color:white;
    background: #6C3C32;    //header for tables
}.grp.head.browsers{
    background: #6C3C32;
    color:white;
}
thead{
    background: #6C3C32;    //Test Details table header    
     font-size: 12px;
}
.tesetDetails.heading table thead tr{
    background: #6C3C32;
}
thead input{
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tesetDetails.heading table thead tr{
    background: #6C3C32;
}
.exe.table thead  { 			
    border-spacing: 1px;  font-size: 14px ;
    background: #6C3C32;   ;
    color: white;
}
.exe.table.step.evenx,.exe.table.step.evenx td,.exe.table.step.evenx td a,.exe.table.step.evenx td label{
    background:white; //For even steps in test case steps
}
.exe.table.ng-scope.even,.exe.table.ng-scope.even td,.exe.table.ng-scope.even td a,.exe.table.ng-scope.even td label{
     background:white;
}
.exe.table.step.oddx,.exe.table.step.oddx td{
    background:#EDDDB8;       //test case details steps
}
.exe.table.ng-scope.odd,.exe.table.ng-scope.odd td{
    background:#EDDDB8;       //test case details steps
}
.exe.table.iteration{
    background: #BAC4B1;
    color: black;
}
.exe.table.reusable{
    background: #BAC4B1;
    font-size: medium;
}
.exe.table.time{
     background:inherit;  
}