.tsetDetails.heading thread ,th {
    color: whitesmoke;  //Test Details table header font
}
.tsetDetails.heading tbody {
    background: ghostwhite;      //Test Details table rows
}
.grp.head{
    color: whitesmoke;
    background: #205081;    //header for tables
}.grp.head.browsers{
    background: #205081;
}
thead{
    background: #205081;    //Test Details table header
      font-size: 12px;
}
thead input{
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tesetDetails.heading table thead tr{
    background: #205081;
}
.exe.table thead  { 			
    border-spacing: 1px;  font-size: 14px ;
    background: #205081;   ;
    color: white;
}
.exe.table.step.evenx,.exe.table.step.evenx td,.exe.table.step.evenx td a,.exe.table.step.evenx td label{
    background:white; //For even steps in test case steps
}
.exe.table.ng-scope.even,.exe.table.ng-scope.even td,.exe.table.ng-scope.even td a,.exe.table.ng-scope.even td label{
    background:white;
}
.exe.table.step.oddx,.exe.table.step.oddx td{
    background:ghostwhite;       //test case details steps
}
.exe.table.ng-scope.odd,.exe.table.ng-scope.odd td{
    background:ghostwhite;       //test case details steps
}
.exe.table.time{
     background:inherit;  
}
.exe.table.iteration{
    background: white;
    color: black;
}
.exe.table.reusable{
    background: white;   
    font-size: medium;
}